extends layout.pug

block nav  
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    div.container-fluid
      a.navbar-brand(href='/mysql') #{title}
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
      div#navbarColor01.collapse.navbar-collapse(style={"word-break" : "nowrap"})
        ul.navbar-nav.me-auto
          li.nav-item
            a.nav-link(href='/') HOME
          li.nav-item
            a.nav-link.active(href='/board/page') Boardlist
          li.nav-item
            a.nav-link(href='/mysql') DB test
          li.nav-item
            a.nav-link(href='#') About         
      form.d-flex
        input.form-control.me-sm-2(type='text', placeholder='Search')
        button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search

block content
  br
  div(class='col-lg-4')
    //- form(action='/board/update', method='post')
    form(name='form', method='post')
      table(class='table table-bordered')
        input#idx(type='hidden', name='idx', class='form-control',  value='')
        tr
          td 작성자
          td 
            input#name(type='text', name='name', class='form-control', placeholder="이름를 입력해주세요.", value='', required)
        tr
          td 제목
          td 
            input#title(type='text', name='title', class='form-control', placeholder="제목을 입력해주세요.", value='', required)
        tr
          td 내용
          td
            textarea#content(name='content', cols='30', rows='10', class='form-control', placeholder="내용을입력해주세요.", required) #{rows.content}
        tr
          td 비밀번호
          td 
            input#passwd(type='password', name='passwd', class='form-control', placeholder="Password", required)
        tr
          td 수정일
          td #{rows.modidate}
        tr
          td 등록일
          td #{rows.regdate}
        tr
          td(colspan='2')
            button.btn.btn-success(type='submit', onclick="updateBtn()") 수정 하기 
            
            button.btn.btn-secondary.float-right(type='button', onclick="goRead()") 수정 취소
    //- a(href='/board/page') 목록

  script.
    function goRead() {
      location.href='/board/read/' + #{rows.idx}
    }    
  
    function updateBtn() {
      //- alert("수정되었습니다.");
      form.action='/board/update'    
    }
  
    function deleteBtn() {
      //- confirm("삭제하시겠습니까?");
      form.action='/board/delete'
  
    //- if(window.confirm("삭제하시겠습니까?")) {
      //-   form.action='/board/delete';
      //-   console.log('삭제되었습니다');
      //- } else {
      //-     //- location.replace('/board/read/' + rows.idx);
      //-     //- location.reload();
      //-     //- form.action='/read/:idx'
      //-     console.log('삭제가 취소되었습니다');   
      //- }
  
      //- const chk = window.confirm("삭제하시겠습니까?")
      //- if(chk) {
      //-   form.action='/board/delete'
      //- } else {
      //-   //- history.back()
      //-   alert("삭제가취소되었습니다.");
      //-   history.back();
      //- }
  
    }
       