doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title #{title}
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
    
  body
    h1 #{title}
    br
    div(class='col-lg-8')
      a(href='/board/write') 글쓰기
      table(class='table table-bordered table-striped table-hover text-center table-responsive')
        tr
          td(counter-increment='aaa') 번호
          td ID
          td 작성자
          td 제목
          td 수정일
          td 등록일
        -for(let i = (page * page_num) - page_num; i < (page * page_num); i++)
          -if(i > length) 
            -i++
          -else 
            tr
              td :first-child:before (content: counter(aaa) " ";)
              td #{rows[i].idx}   
              td #{rows[i].name}          
              td
                a(href="/board/read/" + rows[i].idx) #{rows[i].title}
              td #{rows[i].modidate}       
              td #{rows[i].regdate}
        tr
          td(colspan='6')
            -for(let j = 0; j < rows.length / page_num; j++)
              a(href="/board/page/"+(j + 1)) [#{j + 1}]

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/bootstrap.min.js')



